:root {
    --banner-font-color: #ffffff;
    --content-font-color: #333333;
    --pane-padding: 5px 42px;
    letter-spacing: 0.06em;
    line-height: 1em;
}
h1,h2, .logo {
    /*color: var(--main-bg-color);*/
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Playball', cursive;
}
h3, h4, h5, h6, p, a, span{
    font-family: 'Corben', cursive;
}
p {
    font-size: 20px;
}
section {
    padding: 0 20px;
}
#navbarTogglerDemo02 {
    flex: none;
}